 <div  class="messages">
 <div class="profile">
     <%= image_tag @user.image.variant(resize: '200x200')  %>

</div>

 <div class = "message-site">
 <%= render partial: "message", collection: @messages %>
</div>

 <div class="message-form">
<%= form_with model: @message,url: user_room_users_messages_path, local: true do |f| %>
    <%= f.label  "ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã‚’é€ã‚‹" %><br />
    <%= f.text_field :text %>
    <%= f.submit "ðŸƒ" %>
    <% end %>
     </div>
 </div>

