    
    <h2><%=@user.name%>さんのプロフィール</h2>
    
    <div class = "profile">
    <div class = "info">
    <%= link_to @user.name, user_path(@user.id) %>  
    (<%= @user.age %>)<br/>
    <%=@user.status.name%>  
    </div>
     <div class="photo">
    <% if @user.image.attached?%>
    <%= image_tag @user.image.variant(resize: '200x200')  %>
     <%else %>
    <%= image_tag "dog.png"  %>
    <%end%>
    </div>

    <div>一言：<%=@user.comment%></div>

    </div>
