<!DOCTYPE html>
<html>
  <head>
    <title>BondApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
            <% if user_signed_in? %>
          <div class="user_nav grid-6">
           <span><div class="name">Welcome <%= current_user.name%>さん</div>
            <ul class="user__info">
              <li>
               <%= link_to "TOPへ", root_path,class:"link" %>
                <%= link_to "運命の👧",  users_random_path ,class:"link" %>
                <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "link" %>
               <%= link_to "👬",  users_log_path,class:"link" %>
              </li>
            </ul>
          </span>
          </div>
        <% else %>
          <div class="grid-6">
                        <li>
                                                                      <%= link_to "TOPへ", root_path,class:"link" %>

            <%= link_to "ログイン", new_user_session_path, class: "link" %>
            <%= link_to "新規登録", new_user_registration_path, class: "link" %>

                          </li>

          </div>
        <% end %>

    <%= yield %>
  </body>
</html>
